.hero-page {
    @include flex;
    justify-content: space-between;
    padding: 100px 0;
    &s {
        background-color: #F5F6F8
    }
}
.hero-text {
    @include flex;
    flex-direction: column;
    &__title {
        font-size: 50px;
        line-height: 45px;
        margin-bottom: 30px;
    }
    &__subtitle {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 30px;
    }
}
.hero-apps {
    @include flex;
    flex-wrap: wrap;
}
.hero-links {
    @include flex;
    justify-content: space-between;
    align-items: flex-end;
}
.hero-apps__link {
    padding: 10px;
}
.heading-page {
    padding-top: 60px;
    &__title {
        text-align: center;
        font-size: 35px;
        font-weight: 400;
        margin-bottom: 60px;
    }
    &__box {
        @include flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}
.page-box {
    margin-left: 50px;
    &__title {
        font-weight: 700;
        font-size: 18px;

    }
}
.box-subtitle {
    margin-top: 20px;
    @include flex;
    justify-content: space-between;
    align-items: flex-start;
    &__line {
        width: 100px;
        height: 5px;
        border: #C3C3C3 2px solid;
    }
    &__text {
        font-size: 14px;
        line-height: 25px;
        &--link {
            text-decoration: underline;
            color: #FEAB48;
        }
    }
}
@media only screen and(max-width: 1239px) {
    .container {
        max-width: 1100px !important;
    }
    .hero-img {
        width: 550px;
    }
}
@media only screen and(max-width:1100px
) {
    .container {
        max-width: 950px !important;
    }
    .hero-img {
        width: 450px;
    }
}
@media only screen and(max-width:950px) {
    .container {
        max-width: 790px !important;
    }
    .hero-img {
        width: 350px;
    }
    .heading-page__box {
        @include flex;
        flex-direction: column;
    }
}

@media only screen and(max-width: 790px) {
    .container {
        max-width: 690px;
    }
    .hero-img {
        display: none;
    }
    .hero-text {
        padding-top: 200px;
        display: block;
    }
    .heading-page__img {
        max-width: 600px;
        max-height: 450px;
    }
}
@media only screen and(max-width: 690px) {
    .container {
        max-width: 550px;
    }
    .hero-qr {
        display: none;
    }
    .heading-page__img {
        max-width: 500px;
        max-height: 350px;
    }
}
@media only screen and(max-width: 550px) {
    .container {
        max-width: 453px !important;
    }  
    .heading-page__img {
        max-width: 400px;
        max-height: 300px;
    }  
}

@media only screen and(max-width: 453px) {
    .container {
        max-width: 400px;
    }
    .header-nav__link {
        margin-left: 0;
    }
    .language  {
        margin-right: 0;
        margin-left: 0;
    }
    .heading-page__img {
        max-width: 300px;
        max-height: 250px;
    } 
}