.bank{
    &-title {
        margin-top: 50px;
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 50px;
        text-align: center;
    }
    &-cards {
        @include flex;
        justify-content: space-between;
    }
    &-card1 {
        border-radius: 10px;
        padding: 25px;
        max-width: 31%;
        background-color: #F5F6F8;
        &__title {
            font-size: 20px;
            padding: 5px;
            background-color: #FFFFFF;
            margin-bottom: 20px;
            display: inline-block;
        }
        &__subtitle {
            font-size: 18px;
        }
        &__link {
            padding-top: 50px;
            color: #ff8800;
        }
    }
    &-card2 {
        border-radius: 10px;
        max-width: 45%;
        padding: 25px;
        background-color: #F5F6F8;
    }
    &-card3 {
        border-radius: 10px;
        max-width: 23%;
        padding: 25px;
        background-color: #F5F6F8;
    }
}
@media only screen and(max-width:950px) {
    .container {
        max-width: 850px;
    }
    .bank {
        &-cards {
            @include flex;
            flex-direction: column;
        }
        &-card1 {
            max-width: none;
            margin-bottom: 50px;
        }
        &-card2 {
            max-width: none;
            margin-bottom: 50px;
        }
        &-card3 {
            max-width: none;
            margin-bottom: 50px;
        }
    }
    
}
